#home_container{
    display: flex;
    flex-flow: row nowrap;
}
#home_container #footer_container{
    /*position: fixed;*/
}

#actu_container{
    display: flex;
    flex-flow: column nowrap;
    max-width: 55%;
    gap: 1rem;
    padding: 3rem 0;
    overflow-x: hidden;
}

#actu_container #post_actu{
    border: 1px solid var(--greyBorder);
    border-radius: 10px;
}

#actu_container #post_actu .post_header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}

#actu_container #post_actu .post_header .left_header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

#actu_container #post_actu .post_header .left_header .profil_user{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#actu_container #post_actu .post_header .left_header .post_info h3{
    font-size: 1rem;
}
#actu_container #post_actu .post_header .left_header .post_info p{
    font-size: .8rem;
    color: var(--greyText);
}

#actu_container #post_actu .post_header .right_header a{
    color: black;
    font-size: 1.2rem;
}

#actu_container #post_actu #post_picture img{
    width: 100%;
    max-height: 550px;
}

#actu_container #post_actu #post_description{
    padding: .8rem;
}